{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block left-content %}
  <div class="left-content float-left">
    {% if stock_query %}
    <div class="stock-query">
      <h2 class="title"><span id='symbol'>{{ stock_query.symbol }}</span> - {{ stock_query.name }} </h2>

      <table class="pure-table stock-query-table">
        <thead>
          <tr>
            <th>Bid</th>
            <th>Ask</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td id="bid-price">{{ stock_query.bid_price }}</td>
            <td id="ask-price">{{ stock_query.ask_price }}</td>
          </tr>
        </tbody>
      </table>

      <div class="transaction-form">
        <form class="pure-form" method="POST" action="/portfolio/transaction/">
          {% csrf_token %}
          <fieldset class="pure-group">
            {{ transaction_form }}
            <button type="submit" name="buy" id="btn-buy" class="pure-button pure-button-primary">Buy</button>
            <button type="submit" name="sell" id="btn-sell" class="pure-button pure-button-primary">Sell</button>
          </fieldset>
        </form>
      </div>
    
    </div>
    {% endif %}

    {% if order_history %}
    <div class="order-history">
      <div>
        <h3 class="title">
          <span>
            Recent Transaction History of Current Stock
          </span>
        </h3>
      </div>
      <table class="pure-table order-history-table">
        <thead>
          <tr>
            <th>Type</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for order in order_history %}
            <tr>
              <td>{{ order.order_type }}</td>
              <td>{{ order.quantity }}</td>
              <td>{{ order.price }}</td>
              <td>{{ order.datetime}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
{% endblock %}

{% block right-content %}
<div class="right-content float-right">
<div class="portfolio">
  <div>
    <h2 class="title">
        <span>
        Current Portfolio 
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        Cash: ${{ portfolio.amount }} 
        </span>

    </h2>
  </div>
    <table class="pure-table portfolio-table">
      <thead>
        <tr>
          <th>Company</th>
          <th>Quantity</th>
          <th>Price Paid</th>
          <th></th>
        </tr>
      </thead>
      {% if portfolio_entries %}
      <tbody>
        {% for pe in portfolio_entries %}
        <tr>
          <td>{{ pe.stock.name }}</td>
          <td>{{ pe.quantity }}</td>
          <td>{{ pe.buy_price }}</td>
          <td><a class="pure-button" href="/?symbol={{ pe.stock.symbol }}">View</a></td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>
</div>
</div>
{% endblock %}
