{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}{% endblock %}-Portfolio</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>

<body>
  <div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="">Stock Exchange Portfolio
      {% if username %}
      | Welcome {{ username }} 
      {% endif %}
      </a>
      {% if request.username %}
        <ul class="pure-menu-list">
          <form id="search" class="pure-form search-form">
            <fieldset class="pure-group">
            <li class="pure-menu-item"> <input id="input-symbol" type="text" class="search-symbol-text" name="symbol" placeholder="Enter Symbol" required/> </li> 
            <li class="pure-menu-item"> <button id="btn-search" class="button-xlarge pure-button search-symbol-button">Search</button> </li>

            &emsp;
            <li class="pure-menu-item"> <a class="menu-link" href="/portfolio/reset/"> Reset </a> </li>
            &emsp;
            <li class="pure-menu-item"> <a class="menu-link" href="/authenticate/logout/"> Logout </a> </li> 
            &emsp;
            </fieldset>
          </form>
        </ul>
      {% endif %}
    </div>
  </div>

  <div id="main-content" class="main-content">

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> 
      {% endfor %}
    </ul>
    {% endif %}

    <div id="left-content">
      {% block left-content %}
      {% endblock %}
    </div>

    <div id="right-content">
      {% block right-content %}
      {% endblock %}
    </div>


  </div>

  <div class="footer-padding">
  <br />
  </div>

</body>

</html>
