<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

</head>

<body>

  <div id="content">

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <div id="left-content">
      {% block left-content %}
      {% endblock %}
    </div>

    <div id="right-content">
      {% block right-content %}
      {% endblock %}
    </div>

  </div>

</body>

</html>
