{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}{% endblock %}-Portfolio</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css">
  <link rel="stylesheet" href="{% static "css/style.css" %}">

</head>

<body>
  <div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="">Stock Exchange Portfolio</a>

      {% if request.username %}
        <ul class="pure-menu-list">
          <form id="search" class="pure-form pure-form-aligned search-form">
            <fieldset class="pure-group">
            <li class="pure-menu-item"> <input id="input-symbol" type="text" class="search-symbol-text" name="symbol" placeholder="Enter Symbol"/> </li>
            <li class="pure-menu-item"> <button id="btn-search" class="button-xlarge pure-button search-symbol-button">Search</button> </li>
            </fieldset>
          </form>
        </ul>
      {% endif %}
    </div>
  </div>

  <!--
  <div class="header-wrapper">
    <h5 class="float-left header-text">
        Stock Exchange Portfolio
    </h5>

    {% if request.username %}
      <div class="float-right header-input-wrapper">
        <form id="search" class="search-form">
          <input id="input-symbol" type="text" name="symbol" placeholder="Enter Symbol"/>
          <button id="btn-search" class="search-button">Search</button>
        </form>

    {% endif %}

  </div>
  -->

  <div id="content">

    {% if context.messages %}
    <ul class="messages">
      {% for message in context.messages %}
        <li{% if context.message.tags %} class="{{ context.message.tags }}"{% endif %}>{{ context.message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <div id="left-content">
      {% block left-content %}
      {% endblock %}
    </div>

    <div id="right-content">
      {% block right-content %}
      {% endblock %}
    </div>

  </div>

</body>

</html>
